.negr {
     width: 600px;
     height: 400px; 
}
.btn{
    width: 200px;
    height: 100px;
    background-attachment: rgb(134, 206, 248);
    border-radius: 20px;
    font-size: 20px;
    color: rgb(218, 51, 51);
    display: block;
    margin: 50px 100px 200px 200px;
}
.btn:hover {
    background-color: rgb(49, 226, 93);
}
.btn:hover ~ .negr {
    display: none;
}